{% extends 'base_generic.html' %}


{% block title %}
    main page
{% endblock title %}




{% block body %}
    


<div class="row">
    <div class="side">
        <h2>About Me</h2>
        <h5>Photo of me:</h5>
        <div class="fakeimg" style="height:200px;">Image</div>

        <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
        <h3>More Text</h3>
        <p>Lorem ipsum dolor sit ame.</p>
        <div class="fakeimg" style="height:60px;">Image</div><br>
        <div class="fakeimg" style="height:60px;">Image</div><br>
        <div class="fakeimg" style="height:60px;">Image</div>
    </div>
    <div class="main">
        {% for articel in object_list %}
            <a href="{% url 'article-page' articel.id %}">
            <h2>{{ articel.title}}</h2>
            <h5>{{articel.author}}, {{articel.create_date}}</h5>
            {% comment %} <div class="fakeimg" style="height:200px;">Image</div> {% endcomment %}
            <img src="{{ articel.image.url }}" class="fakeimg" style="max-height:400px;">
            <p>{{articel.short_description}}...</p>
            <br>
            </a>
        {% endfor %}
        {% if is_paginated %}
        <div class="center">
            <div class="pagination">
                
                {% if page_obj.has_previous %}
                    <a href="/blog?page={{ page_obj.previous_page_number }}">&laquo;</a>                    
                {% endif %}
                
                <a class="active" href="/blog?page={{ page_obj.number }}">{{ page_obj.number }}</a>
    
                {% if page_obj.has_next %}
                <a href="/blog?page={{ page_obj.next_page_number }}">&raquo;</a>
                {% endif %}
            </div>
        {% endif %}

    </div>
</div>

{% endblock body %}
    